body{
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    background-color: black;
}

.container1 {

    flex-direction: column;
    justify-content: center;
    width:min-content;
    text-align: center;
    background-color: black;
    font-family: sans-serif;
    color: white;
    white-space: nowrap;
  }

h2{
    border-bottom: 1px solid #ccc; /* Add borders to all table cells */
}
table{

}
thead{
    border: 1px solid #ccc; /* Add borders to all table cells */
}
td {
    border: 1px solid #ccc; /* Add borders to all table cells */

  }


  .headline {
    white-space: normal;
  }
